streamlit>=1.31
pandas>=2.1
numpy>=1.26
yfinance>=0.2.36
yahooquery>=2.3.7
plotly>=5.18
matplotlib>=3.8
seaborn>=0.13
requests>=2.31
feedparser>=6.0
beautifulsoup4>=4.12
streamlit-extras>=0.4.0
streamlit-autorefresh>=1.0.1



